/*
 * Se cambiará por un mensaje informativo del error
 *
 * .md-theme-default .ls--md-invalid::before {
 *   background-color: #f55a4e !important;
 * }
 */

.md-theme-default .ls--md-invalid > label {
  color: #f44336 !important;
}

.ls--option-span {
  margin-right: 5px;
  margin-left: 5px;
}

.ls--option-span .md-ripple > span.md-list-item-text {
  position: relative;
}

.ls--login-background {
  height: 100%;
  min-height: 100vh;  
  background-position: top;
  background-size: cover;
}

.ls--login-background-1 {
  background-image: url("../img/pexels-tara-winstead-6690853.jpg");
}

.ls--login-background-2 {
  background-image: url("../img/login-2.jpg");
}

.ls--login-background-3 {
  background-image: url("../img/pexels-pavel-danilyuk-6812502.jpg");
}

/* El nivel de opacidad del fondo de la pantalla */
.ls--login-background:after {
  position: absolute;
  z-index: 1;
  width: 0%;
  height: 0%;
  display: block;
  left: 0;
  top: 0;
  content: ""; 
  background: rgba(0,0,0,.5); 
}

.ls--login-background > .ls--login-wrapper {
  z-index: 2;
  position: relative;
  
}

/* posición de la opción para crear un usuario*/
.ls--create-account {
  text-align: right;
}
.ls--create-account-size {
  font-size: 1rem;
}
.ls--tabs-navigation > .md-tabs-navigation {
  padding-left: 15px;
}

/* fix color buttom calendar */
.md-datepicker-body-header > .md-button.md-theme-default,
.md-datepicker-panel > .md-button.md-theme-default {
  background-color: white !important;
  box-shadow: none;
}
.md-datepicker-panel > .md-button.md-theme-default {
  color: rgba(0, 0, 0, 0.87) !important;
}

/* fix postion on alert */
.ls--fixed-on-screen .alert[data-notify="container"] {
  position: fixed;
}

/* Steepers */
.ls--horizontal-steppers .md-button.md-stepper-header {
  background-color: white !important;
  box-shadow: none;
  margin-right: 0px;
  margin-left: 0px;
}

.ls--horizontal-steppers .md-stepper-header .md-button-content:before {
  left: -32px;
  width: 32px;
}

.ls--horizontal-steppers .md-steppers-container >.md-stepper {
  padding-right: 0px;
  padding-left: 0px;
}

.ls--mtop-15px {
  margin-top: 15px;
}

.ls--calendar > .cv-header .currentPeriod,
.ls--calendar > .cv-header .periodLabel,
.ls--calendar > .cv-header-days .cv-header-day {
  text-transform: capitalize;
}

.ls--calendar-view {
  min-height: 55em;
}

.ls--min-height-100vh{
  min-height: 100vh;
}

.footer{
z-index: 2;
height: 100px;
background-color: transparent;
color: black;

}
.ls--md-pruebacolor{
background-color: #427A6A  !important;
color:wheat;
}

.md-card-header[data-background-color=pruebacolor]{

  background-color: #427A6A  !important;
  -webkit-box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(76 175 80 / 20%);
  box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(76 175 80/ 20%);
}

.ls--md-colorboton{

background-color: #CD5C5C !important;
color: white;
}

.md-button[data-background-color=colorboton]{

  background-color: #CD5C5C  !important;
  -webkit-box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(76 175 80 / 20%);
  box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(76 175 80/ 20%);
}

/* Color header*/
